@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 74, 222, 128;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 17, 24, 39;
  --font-press-start-2p: "Press Start 2P", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.font-pixel {
  font-family: var(--font-press-start-2p);
  text-shadow: 2px 2px 0 #000;
  letter-spacing: -1px;
}

.font-mono {
  font-family: var(--font-vt323);
}

/* Pixelated border effect */
.dark .pixelated-border {
  box-shadow: 0 0 0 2px #4ade80, 0 0 0 4px #000, 0 0 0 6px #4ade80;
}

/* 亮色模式的像素化边框 */
 .pixelated-border-light {
  box-shadow: 0 0 0 2px #6366f1, 0 0 0 4px #fff, 0 0 0 6px #6366f1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
